{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": "2" }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    ["import", { "libraryName": "antd", "libraryDirectory": "es" }],
    ["babel-plugin-styled-components", { "minify": false }],
    "@babel/plugin-transform-react-constant-elements"
  ]
}
