{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 100,
        "tabWidth": 2,
        "semi": true,
        "bracketSpacing": true
      }
    }
  ]
}