#position {
  position: relative;
}
#table {
  width: 25%;
  height: 93%;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 44px;
}
.io-analysis {
  height: 30%;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #a2afcd;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.12);
}
.io-analysis_title {
  display: inline-block;
  background-color: #ccd8e9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #333;
  font-size: 18px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 24px;
}
.centerchart {
  margin-top: 16px;
  width: 100%;
  height: 80%;
}
#chart {
  width: 100%;
  height: 100%;
}
#drawed {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
  position: relative;
}
.more {
  position: absolute;
  top: 5px;
  right: 10px;
}
/*滚动条样式*/
#drawed::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
#drawed::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
#drawed::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.img {
  width: 460px;
  height: 310px;
}
#e_img {
  width: 100%;
  height: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#shut {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.pre-warn {
  width: 100%;
  height: 30%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 1px solid #a2afcd;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.12);
}
.pre-warn_title {
  display: block;
  font-size: 18px;
  color: #000;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding-left: 24px;
  background-color: #ccd8e9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.pre-warn_content {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pre-warn_card {
  width: 30%;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  margin-top: 15px;
}
.finishchart {
  width: 68%;
  height: 100%;
}
.pre-warn_echart {
  width: 100%;
  height: 100%;
}
.pre-warn_people {
  display: inline-block;
  background-image: url("/images/warn/warn-people.png");
  background-size: 90%;
  background-repeat: no-repeat;
  width: 100%;
  height: 56px;
}
.pre-warn_equip {
  background-size: 90%;
  background-repeat: no-repeat;
  background-image: url("/images/warn/warn-equip.png");
  width: 100%;
  height: 56px;
}

/* .card{
    width: 130px;
    height: 62px;
    border-radius: 5px;
    position: relative;
}
.card img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.cardright{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    right: 10px;

}
.cardtitle{
    font-family: "SimHei";
    font-size: 12px;
    color: white;
    margin-top: 10px;
}
.cardnum{
    font-family: "SimHei";
    font-size: 16px;
    color: white;
}
.total-people{
    background-color:#018ed0;
    margin-bottom: 12px;
}
.total-device{
   background-color: #6ead4b;
}
.warntotal{
    padding-left: 32px;
    width: 162px;
} */

.echart {
  width: 338px;
  height: 170px;
}

.eventlist {
  height: 31%;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #a2afcd;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.12);
}
.event-cutline {
  background: linear-gradient(to left, transparent, #b6b6b6, transparent);
  height: 1px;
  margin-bottom: 5px;
}
.eventlist_title {
  display: inline-block;
  background-color: #ccd8e9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding-left: 24px;
  font-size: 18px;
  color: #000;
}
.eventlist ul {
  list-style: none;
  width: 100%;
  margin-left: -14px;
  font-size: 14px;
  color: #333;
}
.eventlist ul li {
  margin-top: 10px;
}
.eventlist ul li a {
  text-decoration: underline;
  color: #3e7afe;
  float: right;
}
.moreinfo {
  float: right;
  color: #333;
  margin-right: 20px;
}
