.search-index-input{
    width:20%;
    height: 36px;
    padding-left: 5px;
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #dddddd;
    outline: none;
}
.search-button{
    display: inline-block;
    min-width: 35px;
    height: 36px;
    background-color: #98abd8;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-around;
    -ms-flex-pack: justify;
}
.search-btn-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background: url('/images/search/search.png');
}

input::-webkit-input-placeholder{
    font-size: 14px;
    color:#999999;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    font-size: 14px;
    color:#999999;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    color:#999999;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    font-size: 14px;
    color:#999999;
}


.search-header .ant-select-selection{
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
} 

         
.search-header .ant-select-arrow{
    color:rgb(169,192,204) !important;
}
.search-header .ant-select-selection__rendered{
    height: 36px;
}
.search-header .ant-select-selection-selected-value{
    height: 36px;
    line-height: 36px;
}

.search-btn{
    width: 80px;
    height: 50px;
    margin-left: 38px;
}
.asearchbtn{
    display: inline-block;
    height: 34px;
    min-width: 80px;
    line-height: 34px;
    text-align: center;
    background-color: #d5ddec;
    color: #385ab2;
    border: 1px solid #b1c1e3;
    margin-left: 38px;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
}
.search-header{
    margin:2% 0 2% 0;
}
.mainheader{
    width: 100%;
    position: relative;
    background-color: rgb(232,236,241);
    padding-top:1px ; /* 头部隐藏30px*/
    border-bottom: 1px solid rgb(222,226,231);
}
.search-right-container{
    width: 100%;
}


/*出入记录table*/
.restable{
    margin-top: 20px;
    padding: 20px 32px 0 32px;
    background-color: white;
}
.filebtn{
    display: inline-block;
    height: 36px;
    width: 60px;
    line-height: 36px;
    text-align: center;
    background-color: white;
    background-image: url('/images/warn/chooseimg.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #385ab2;
    border: 1px solid #dde3f0;
    border-left: 0;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
    position: relative;
    overflow: hidden;
}

.dbimg{
    width: 75px;
    height: 80px;
    position: absolute;
    top: 24px;
    right:40px;
    background-color: #eeeeee;
}
.uploadimg{
    width: 75px;
    height: 80px;
    position: absolute;
    top: 24px;
    right:235px;
    background-color: #eeeeee;
}
.pmessage{
    width: 120px;
    height: 80px;
    position: absolute;
    top: 24px;
    right:115px;
    background-color: #eeeeee;
}
.full{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    justify-content: center;
}
.pmessage p{
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.face{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.btnfile{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
/*出入记录table*/

.headersearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    margin-top: 31px;
}
.more-option{
    min-width: 80px;
    margin-left: 50px;
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: row;
}
.more-option:hover{
    color: #467ffd;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
}
.option-more{
    display: inline-block;
    width: 12px;
    height: 6px;
    background-image: url('/images/search/show.png');
    background-repeat: no-repeat;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.selectview{
    min-width: 108px;
    height: 36px;
    background-color: #f5f5f5;
    color: #000000;
    line-height: 36px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
}
.cardview{
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url('/images/search/cardview.png');
    background-repeat: no-repeat;
    margin-right: 5px;
}
.listview{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('/images/search/listview.png');
    background-repeat: no-repeat;
    margin-right: 5px;
}
.selectcard{
    margin-left: 3%;
}
.selectlist{
    margin-left: 10px;
}
.more-search-option{
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin-top:20px;
}

.ant-checkbox-wrapper span:not(.ant-checkbox){
    font-weight: normal;
    color:#333333;
}
.ant-checkbox-checked .ant-checkbox-inner{
    background-color: rgb(89,117,190);
    border-color: rgb(89,117,190);
}
.ant-col-2{
    color: #808080;
}

.ant-layout{
    background-color: rgb(232,236,241) !important;   
}
.more-search-option .ant-row{
    margin-top: 22px;
}
.ant-layout-header button{
    margin-left: 20px;
}

.card-result{
    width: 23%;
    height: 316px;
    min-height: 316px;
    border-radius:8px;
    background-color:#ffffff;
    overflow: hidden;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    cursor: pointer;
    border: 1px solid #a2afcd;
}
.card-tile{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    background-color: #ccd8e9;
    color:#000000;
    padding-left: 28px;
    margin: 0 !important;

}
.title-right-more{
    display:block;
    width: 8px;
    height: 14px;
    background-image: url('/images/search/more.png');
    background-repeat: no-repeat;
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}
.search-title{
    font-family: "SimHei";
    font-size: 14px;
    color: #808080;
    margin-right: 10px;
    margin-left: 20px;
}
.search-Content{
    margin: auto 44px;
    padding-bottom: 40px;
}
.result-Content{
    margin: auto 44px;
    padding: 34px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
}
.list-result-Content{
    margin: auto 44px;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
}

.pchart{
    width: 100%;
    height:264px;
}

.result-img-message{
    width: 100%;
    padding: 24px 0 0 24px;
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
}
.imgcontent{
    width: 30%;
    height: 190px;
}
.search-result-photo{
    width: 100%;  
    height:auto; 
}
.search-result-container{
    overflow-y: scroll;
    width: 100%;
    margin-top: 15px;
    background-color: rgb(232,236,241);
}

.search-result-container ul{
    list-style: none;
}
.search-result-container ul li{
    height: 38px;
}
.ulcontent{
    margin-left: 12px;
}
.search-result-detail{
    margin: 0 !important;
    padding: 0 !important;
}
.search-result-detail-title{
    font-size: 16px;
    color: #808080;
}
.resulevalue{
    font-size: 16px;
    color: #333333;
}

.result-visiter{
    width: 100%;
   
    height: 266px;
}
.result-out{
    width: 100%;
   
    height: 266px;
}
.status{
    width: 100%;
    padding-left: 24px;
    margin: 0;
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    margin-top: 16px;
}
.status-card-normal{
    display: inline-block;
    width: 28px;
    height: 12px;
    background-color: rgb(166,220,102);
}
.status-card-black{
    display: inline-block;
    width: 28px;
    height: 12px;
    background-color: rgb(240, 24, 24);
}
.status-title{
    display: inline-block;
    width: 40px;
    height: 12px;
    margin-left: 10px;
    font-size: 12px;
}

.listitem{
    width: 100%;
    height: 119px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -ms-flex-pack: justify;
    border-bottom: 1px dashed #e6e6e6;
}
.listtitle{
    font-size: 16px;
    color: #808080;
    
}
.listname{
    font-size: 16px;
    color:#333333;
}
.list-img{
    width: 60px;
    height: 80px;
}
.getmore{
    display: inline-block;
    width: 118px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #e8edf8;
    border: 1px solid #bfcdeb;
}