.right-body{
    position: relative;
    width:100%;
    height: 100%;
    background-color: #e5eafe;
    overflow:hidden;
    /*margin-left: 2%;*/
}
.analysis-all-show{
    border-radius: 6px;
    height: 175px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    margin-top: 40px;
    margin-left: 2%;
    margin-right: 2%; 
}
#smallMap{
    margin-top: 30px;
    border-radius:5px;
    width: 30%;
    height: 720px;
    opacity: 0.8;
    position: absolute;
    right:2%;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
}
.chart-middle{
    margin-top: 30px;
    width:64%;
    position: relative;
    height:310px;
    margin-left: 2%;
}
.chart-middle-left{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position: relative;
    width:49%;
    height:100%;
    display: inline-block;
}
.chart-middle-right{
    margin-left: 2%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position: relative;
    width:49%;
    height:100%;
    display: inline-block;
}
.all-chart-c{
    height:90%;
    width:100%;
    border: 0 solid #dddddd;
    background-color:transparent;
    position: absolute;
    bottom:3px;
}
.chart{
    position: absolute;
    height:85%;
    width: 100%;
    bottom:5px;
}
.big-chart{
    display: inline-block;
    height:450px;
    width:50%;
}

.all-chart{
    margin-top: 30px;
    border-radius:5px;
    margin-left: 2%;
    position: relative;
    width:64%;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
}
.chart-title{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background-color: #eaf2f8;
}
.analysis-all-show-div{
    display: inline-block;
    width:25%;
    height: 100%;
}
.analysis-all-show-icon1{
    display: inline-block;
    width:15%;
    height:60px;
    background: url("/images/analysis/totlepeople.png") no-repeat;
    background-size: 100%;
    margin-top: 50px ;
    margin-left: 20%;
    vertical-align: top;
}
.analysis-all-show-icon2{
    display: inline-block;
    width:15%;
    height:60px;
    /*height:60px;*/
    background: url("/images/analysis/flowpeople.png") no-repeat;
    background-size: 100%;
    margin-top: 50px ;
    margin-left: 20%;
    vertical-align: top;
}
.analysis-all-show-icon3{
    display: inline-block;
    width:15%;
    height:60px;
    background: url("/images/analysis/visit.png") no-repeat;
    background-size: 100%;
    margin-top: 50px ;
    margin-left: 20%;
    vertical-align: top;
}
.analysis-all-show-icon4{
    display: inline-block;
    width:15%;
    height:60px;
    background: url("/images/analysis/people60.png") no-repeat;
    background-size: 100%;
    margin-top: 50px ;
    margin-left: 20%;
    vertical-align: top;
}
.analysis-all-show-ul{
    padding-left: 24px;
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}
.analysis-all-show-ul-title{
    color: #000000;
    font-size: 1.3vw;
    font-weight: bold;
}

.analysis-all-show-ul-english{
    color: #999999;
    font-size: 12px;
    margin-top: 3px;
}
.analysis-all-show-ul-number1{
    color:#7daef1;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}
.analysis-all-show-ul-number2{
    color:#fc7859;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}
.analysis-all-show-ul-number3{
    color:#82bb42;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}
.analysis-all-show-ul-number4{
    color:#fab541;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
}
.chart-container-topleft{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position: relative;
    width:66%;
    height: 315px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
.chart-container-topright{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position:relative;
    width:30% !important;
    height:315px;
    float:right;
    margin-top: 10px;
    margin-right: 20px;
}
.chart-container-center{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position:relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height:215px;
}
.chart-container-center-block{
    width:20%;
    height:100%;
    float: left;
    position: relative;
}
.center-block-chart{
    float: right;
    margin-top: 40px;
    height: 70%;
    width: 50%;
}
.center-block-ul{
    width:30%;
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}
.center-block-title{
    color:#000000;
    font-weight: bold;
    font-size: 20px;
}
.center-block-number{
    color:greenyellow;
    font-size: 45px;
    margin-top: 15px;
}
.chart-container-bottom{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position:relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height:360px;
}
.chart-container-topleft-chart{
    height:90%;
    width:100%;
    position: absolute;
    bottom:3px;
}
.chart-container-bottom-chart{
    height:90%;
    width:100%;
    position: absolute;
    bottom:3px;
}
.chart-container-topright-ul1{
    display: inline-block;
    text-align: center;
    width:24px;
    list-style: none;
    padding: 0;
    margin-left: 30px;
    color: white;
    font-size: 16px;
}
.chart-container-topright-ul2{
    display: inline-block;
    list-style: none;
    padding: 0;
    width:68%;
    margin-left: 50px;
    color: #000000;
    font-size: 15px;
}
.chart-container-topright-ul3{
    display: inline-block;
    list-style: none;
    padding: 0;
    width:15%;
    margin-left: 50px;
    color: #000000;
    font-size: 15px;
}
.chart-container-topright-ul2 li{
    margin-top: 12px;
}
.chart-container-topright-ul3 li{
    margin-top: 12px;
}
.chart-container-topright-ul1 li{
    margin-top: 10px;
    opacity: 0.8;
    background-color: grey;
    border-radius: 50%;
}
.chart-container-topright-ul1-top3{
    background-color: red !important;
    opacity: 0.8;
}
.title-number-ul{
    list-style: none;
    padding-left: 0;
    width:100%;
    height: 100%;
}
.title-number-ul li{
    font-size: 30px;
    list-style: none;
    width: 20px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
}
@media only screen and (max-width: 1366px) {
    .analysis-all-show-ul-title{ font-size: 17px; }
    .title-number-ul li{
        font-size: 25px;
    }
}
.title-number-ul li span {
    display: block;
    transform: translateY(0%);
}
.title-number-ul li.active span {
    animation: move 1s;
    animation-fill-mode: forwards;
    background-color: #e0e0e0;
}
@keyframes move {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
.chart-chinamap{
    display: inline-block;
    height:1000px;
    width:70%;
    margin-left: -30px;
    margin-top: -15px;
}
.analysis-visit-right{
    width:30%;
    height:800px;
    display: inline-block;
    float:right;
    margin-right: 20px;
}
.chart-container-topright1{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius:5px;
    position:relative;
    width:100% !important;
    height:50%;
    margin-top: 20px;
}
.analysis-top-button>button{
    color: #000000;
    border: 0;
}
