.plat-container{
    position: relative;
}
.main-layout {
    height: calc(100% - 70px);
}
.aside-nav {
    display: inline-block;
    float: left;
    width: 120px;
    margin: 0 50px 0 0;
    padding-left: 0;
    background-color: #fafbfc;
}

.aside-nav a {
    display: block;
    margin-bottom: 5px;
    padding: 4px 0 5px;
    color: #555;
    text-align: center;
    text-decoration: none;
}

.aside-nav .active {
    color: #fff;
    background-color: orange;
}

.aside-container {
    float: left;
}
  
.toggle span {
    cursor: pointer;
    background-color: aqua;
}
.home-first-column{
    margin-top: 2%;
    display: inline-block;
    margin-left: 3%;
    vertical-align : bottom ;
    width:24%;
}
.home-second-column{
    display: inline-block;
    width:46%;
    margin-top: 3%;
    margin-right: 2%;
    vertical-align : bottom ;
}
.home-third-column{
    display: inline-block;
    width:20%;
    vertical-align : bottom ;
}
.area-info {
    background-color: #fff;
    border-radius: 8px;
    width : 100%;
    height: 21em;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
}
.area-info__content{
    background-color: #fff;
    width: 100%;
    height: 238px;
}
.area-info__title {
    display: inline-block;
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
}

.area-info__img {
    background: url("/images/dashboard/district.png") no-repeat;
    background-size: 100%;
    margin-left: 24px;
    margin-top: 24px;
    width: 40%;
    height: 10.429em;
    
}
.area-info__people {
    position: relative;
    left: 26px;
    top: -16px;
    width:50%;
}
.area-info__people ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
}
.area-info__people ul li {
    margin-bottom: 17px;
}
.pad {
    color: #000;
    padding-left: 6%;
    padding-right: 6%;
}
.area-info__other {
    padding-top: 7px;
}
.area-info__other ul {
    display: inline-block;
    padding: 0;
    width:100%;
}
.area-info__other ul>li {
    display: inline;
    margin-left: 5%;

}
.area-info__other ul span {
    display: inline-block;
    /* width: 4.286em; */
    color: #808080;
    margin-left: 10px;
    vertical-align: middle;
    -webkit-padding-start: 0;
}

.nation-distribution {
    background-color:#fff;
    border: 1px solid #a2afcd;
    border-radius: 8px;
    margin-top: 30px;
    width: 100%;
    height: 23.143em;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
}
.nation-distribution__title {
    display: inline-block;
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;

}
.nation-distribution__chart {
    padding-left: 20px;
    padding-top: 10px;
    width: 98%;
    height: 19.286em;
}
.month-total {
    margin-left: 30px;
    background-color:#fff;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    width : 100%;
    height: 14.857em;
}
.month-total__title {
    display: inline-block;
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-left: 24px;
}
.month-total__item {
    width: 100%;
    padding-left: 22px;
}
.month-total__item span {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 40%;
    height: 4.143em;
}

.warning-result {
    margin-left: 30px;
    background-color:#fff;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    margin-top: 30px;
    width : 100%;
    height: 19.429em;
}
.warning-result__title {
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    line-height: 50px;
    padding-left: 13px;
}
.warning-result__content {
    height: 18em;
    width: 100%;
}
.warning-area {
    margin-left: 30px;
    background-color:#fff;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    margin-top: 30px;
    color: #333;
    font-size: 1em;
    width : 100%;
    height: 23.571em;
}
.warning-area__title {
    display: inline-block;
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
    width: 100%;
}
.warning-area__content {
    padding-left: 26px;
}
.warning-area__content div{
    cursor: pointer;
}
.influent-people {
    background-color:#fff;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    width : 100%;
    height: 25em;
    margin-left: 30px;
    margin-top: 13%;
}
.influent-people__title {
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
}
.influent-people__content {
    width : 100%;
    height: 95%;
}
.freq-func{
    background-color:#fff;
    border: 1px solid #a2afcd;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    width : 100%;
    height: 14.286em;
    margin-top: 30px;
}
.freq-func__title {
    background-color: #ccd8e9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 24px;
}
.freq-func__items{
    position: relative;
    padding-top: 44px;
    padding-left: 18px;
}
.freq-func__items__p__icon {
    background: url("/images/dashboard/people.png");
    width: 3.786em;
    height: 3.786em;
}
.freq-func__items__h__icon {
    background: url("/images/dashboard/house.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 3.786em;
}
.freq-func__items__list__icon {
    background: url("/images/dashboard/record.png");
    width: 3.786em;
    height: 3.786em;
}
.freq-func__items__alarm__icon {
    background: url("/images/dashboard/pre-alarm.png");
    width: 3.786em;
    height: 3.786em;
}
.freq-func__items__find__icon {
    background: url("/images/dashboard/find.png");
    width: 3.786em;
    height: 3.786em;
}
.freq-func__items__title {
    display: inline;
}
.freq-func__items__pad {
    width:15%;
    margin-right: 5%;
}
.month-total__item__total{
    background: url("/images/dashboard/total.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    /*height: 4.071em;*/
}
.month-total__item__normal{
    background: url("/images/dashboard/normal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
}
.month-total__item__unnormal {
    background: url("/images/dashboard/unnormal.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
}
.month-total__item__alarm {
    background: url("/images/dashboard/alarm.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
}

.warning-area__alarm-icon{
    position: relative;
    left: -0.5em;
    display: inline-block;
    background: url("/images/dashboard/alarm-icon.png");
    width: 2em;
    height: 2em;
}
.warning-area__warn-icon{
    display: inline-block;
    background: url("/images/dashboard/warning-icon.png");
    background-repeat: no-repeat;
    width: 1.429em;
    height: 1.429em;
}
.warning-area__notif-icon{
    display: inline-block;
    background: url("/images/dashboard/notif.png");
    background-repeat: no-repeat;
    width: 1.429em;
    height: 1.429em;
}
.warning-area__alarm-content {
    position: relative;
    top: -4px;
    color: #032037;
    text-shadow: 1px 1px 1px #fff;
}
.warning-area__warn-content {
    position: relative;
    top: -4px;
}
.map-district {
    width: 100%;
    height: 28.571em;
}
.navbar-right li{
    line-height: 69px;
}

.navbar-right{
    position: absolute;
    right: 0;
}
.search_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
    padding: 5px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255,255,255,0.16);
    position: relative;
}

.search{
    outline: none;
    width: 0;
    transition: all .5s ease;
    box-sizing:border-box;
    opacity:0;
    border: 0;
    background-color: transparent;
    color: white;
}
.search_bar .words{
    width: 220px;
    height: 0;
    background-color: rgba(50,52,54,0.9);
    position: absolute;
    top:52px;
    left: 5px;
    transition: all .2s ease-in-out;
    overflow: hidden;
}


.header-manager{
    display: inline-block;
}
@media only screen and (max-width: 1366px) {
    html{
        font-size: 8px;
    }

}